
body {
background:#fff; /* don't change, use body.drupal -- fix for fckeditor / tinymce */
color: #333;
font: 76% tahoma,verdana,sans-serif;
margin: 0;
padding: 20px 0;
}

body.drupal {
background: #047 url(img/bodybg.png) repeat-x fixed;
}

#thetop {
margin: 0;
}

#container {
background: #fff url(img/contbg.png) no-repeat;
color: #333;
margin: 0 auto;
padding: 20px 20px 0 20px;
width: 720px;
}

h1,h2,h3,h4 {
font-weight: normal;
margin: 0 0 10px 0;
}

h1 {
line-height:1em;
margin-top:10px;
}

h2 {
font-size: 1.5em;
margin: 0 0 4px 0;
}

#header .block h2 {
margin-top:0;
}

h3, #sidebar .block h2 {
font-size: 1.3em;
margin: 20px 0 8px 0;
}

h4 {
font-size: 1.2em;
margin: 10px 0 5px 0;
}

a {
color: #26c;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a img {
border: 0;
}

p {
line-height: 1.5em;
margin: 0 0 15px 10px;
}

#logo {
background: #eee;
border: 4px solid #dde;
color: #555;
float: left;
margin: 0 20px 0 0;
padding: 30px 0;
text-align: center;
width: 240px;
}

#logo h1 {
letter-spacing: -2px;
line-height: 1em;
margin: 0 5px 5px 5px;
font-size: 2.6em;
}

#logo a {
color: #26a;
text-decoration: none;
}

#logo a:hover {
color: #69e;
}

#tagline {
font-size: 1.4em;
line-height: 1.5em;
text-align: center;
}

#main {
float: left;
line-height: 1.3em;
margin-right: 20px;
padding: 0;
width: 530px;
}

#sidebar {
float: right;
font-size: 1em;
line-height: 1.3em;
margin-top: 20px;
width: 155px;
}

#sidebar p, #sidebar ul, #sidebar ol {
margin: 0 0 15px 10px;
padding: 0;
}

#sidebar ul li, #sidebar ol li {
list-style: none;
margin: 0 0 4px 0;
padding: 0;
}

.sidelink, #primary-links a {
background: #eee url(img/gradient1.png) repeat-x;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-right: 1px solid #bbb;
border-top: 1px solid #ddd;
color: #26c;
display: block;
font-size: 1.2em;
font-weight: 400;
margin: 3px 10px 2px 0;
padding: 5px 0 5px 8px;
text-align: left;
width: 140px;
}

.sidelink:hover,.menuheader, #primary-links a:hover {
background: #fff url(img/gradient2.png) repeat-x;
border-bottom: 1px solid #888;
border-left: 1px solid #ddd;
border-right: 1px solid #888;
border-top: 1px solid #ddd;
color: #333;
text-decoration: none;
}

#primary-links ul {
margin:0;
}

#footer {
background: #fff url(img/footerbg.png) bottom left no-repeat;
color: #777;
font-size: 1.1em;
line-height: 1.6em;
margin: 0 auto 10px auto;
padding: 10px 0;
text-align: center;
width: 760px;
}

.node h2 {
background: #eee url(img/gradient2.png) repeat-x;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-right: 1px solid #bbb;
border-top: 1px solid #ddd;
clear: left;
color: #444;
display: block;
margin: 20px 0 10px 0;
padding: 5px 0 5px 8px;
text-decoration: none;
}

.clear {
clear: both;
margin: 0;
padding: 0;
}

.right {
text-align: right;
}

.internallink {
font-size: 0.9em;
text-align: center;
}

#right-note .block {
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-right: 1px solid #bbb;
border-top: 1px solid #ddd;
color: #555;
font-size: 0.9em;
line-height: 1.4em;
margin: 5px auto 15px auto;
padding: 5px;
}

#right-note .block p {
margin:0;
line-height: 1.4em;
}

.credit {
color: #777;
}

.hide {
display: none;
}

/* Extras */
.submitted {
font-size:10px;
margin-left:10px;
}

td {
padding: 4px;
}

#admin-menu ul a {
font:11px Tahoma, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

#logo-image {
display:block;
line-height:0;
}

.messages {
border:1px solid #ddd;
padding:2px;
font-weight:bold;
margin:10px 0;
}

.comment {
border:1px solid #ddd;
padding:10px;
margin:10px;
}

.comment h3 {
margin-top:0;
}